$primaryColor: #e4eff9;
$secondaryColor: #4e9ef9;
$primaryTextColor: #4e9ef9;
$secondaryTextColor: #8d8d96;
$mobileBreakPoints: 489px;
$tabletBreakPionts: 720px;
$desktopBreakPoints: 1312px;
$haedingFontSize: 48px;
$spaceY: 4rem 2rem 0 0;

